h2{
    background-color: black;
    color: white;
}
table{
    caption-side: bottom;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: darkgreen;
    color: white;
}
td,th{
    border: 1px dotted black;
    padding: 10px;
    text-align: center;
}