 .book1{
            list-style-type: none;
        }
        .book2{
            list-style-type: upper-alpha;
        }
         .container{
        width: 500px;
        border: 1px solid #222;
    }
    h1{
        background-color: black;
        color: white;
        text-align: center;
    }
    ul{
        list-style-image: url(img/dot.png);
    }