#container{
    max-width: 1000px;
    margin: 20px auto;
    width: 100%;
}
h1{
    text-align: center;
}
.prod-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prod-list li{
    padding: 0; margin: 10px;
    overflow: hidden;
    flex-basis: calc(33.333% - 20px);
    position: relative;
}
.prod-list img{
    width: 100%; height: auto;
    z-index: 5;
}
.prod-list .caption{
    position: absolute;
    top: 200px;
    width: 100%;
    height: 20px;
    padding-top: 10px;
    background-color: rgba(0, 0.0, 0, 0.5);
    transition: all 0.6s ease-in-out ;
    z-index: 10;
}
.prod-list li:hover .caption{
transform: translateY(-200px);
}
.prod-list .caption h2, .prod-list .caption p{
    color: white;
    text-align: center;
}