.container{width: 960px; margin: 0 auto; }
.nav{
    width: 960px; height: 60px; padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}
.nav ul{
    list-style: none; padding-top: 10px; padding-bottom: 5px;
}
.nav ul li{float: left; width: 150px; padding: 10px;}
.nav a:link, .nav a:visited {
    display: block;
    font-size: 14px;
    color: black;
    padding: 10px; text-decoration: none;
    text-align: center;
}
.nav a:hover, .nav a:focus {
    background-color: #222;
    color: #fff;
}
.nav a:active{
background-color: red;
}