body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}
.container{
    width: 200px; height: 400px;
    border: 1px solid black;
}
.fill{
    object-fit: fill;
}
img{
    width: 100%;
    height: 100%;
}
.contain{
    object-fit: contain;
}
.none{
    object-fit: none;
}
.cover{
    object-fit: cover;
}