@charset "utf-8";
div{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url(../img/bear.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 30px 2px #000;
}